@import url(_reset.css);

* {
  box-sizing: border-box;
}

.uppercase {
  text-transform: uppercase;
}

.initial {
  text-transform: initial;
}

.contailner {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.contailner::after {
  clear: both;
  display: block;
  content: " ";
  visibility: hidden;
}

.page-header, .page-main, .page-footer {
  width: 100%;
}

header.page-header {
  border-bottom: 2px solid #5ec6f5;
  margin-bottom: 1%;
}

div.content-header {
  padding-top: 1%;
}

div.logo-left {
  width: 30%;
  float: left;
}

div#contact-right {
  width: calc(100% - 30%);
  float: right;
}

div.border-contact {
  float: right;
}

div.image-logo {
  width: 25%;
  float: left;
}

div.text-logo {
  width: calc(100% - 25%);
  float: right;
}

div.text-logo a {
  color: #172124;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.6em;
}

div#contact-right * {
  margin-left: 0.5em;
  line-height: 3.6em;
  vertical-align: middle;
}

span.count-product {
  color: #40ade4;
  font-weight: bold;
  font-size: 1em;
}


div.content-section {
  width: 100%;
  margin-right: -5px;
}

h1.title-product {
  color: #282828;;
  font-size: 1.4em;
  padding: 0.5%;
  font-weight: bold;
  border-left: 5px solid #63c5f7;
  padding-left: 1%;
  margin-bottom: 1%;
}

li.item-information {
  width: calc(100% / 3);
  float: left;
  padding: 0 5px 0 5px;
  margin-bottom: 10px;
}

.border-information {
  position: relative;
  border-radius: 0 5px 5px 5px;
  border: 1px solid #eeeeee;
}

li.item-information img {
  width: 100%;
  height: auto;
}

div.text-information {
  padding: 6%;
}

div.text-information h4 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.text-information a {
  color: #282828;
}

div.text-information h3 {
  color: #282828;
  margin: 4% 0 4% 0;
  font-size: 0.9em;
  text-transform: initial;
}

button.btn-addcart {
  background-color: #5ec6f5;
  color: #fff;
  border: 0;
  padding: 3%;
  cursor: pointer;
}

a.btn-next {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: #5bc4f3;
}

a.btn-next::after {
  content: "\2192";
}

footer.page-footer {
  width: 100%;
  padding-top: 3%;
  background-color: #62c6f8;
}

ul.navigation-footer {
  width: 100%;
  list-style: none;
}

li.column {
  float: left;
  vertical-align: top;
  width: calc(100% / 3);
}

li.column h3 {
  color: #fff;
  margin-bottom: 7%;
  font-weight: bold;
}

li.column li {
  margin-bottom: 4%;
}

li.column li::before {
  content: "• ";
  color: #fff;
}

li.column a {
  color: #fff;
  font-size: 0.8em;
  vertical-align: middle;
}

li.column img {
  vertical-align: middle;
}

div.copyright-design {
  width: 100%;
  padding-top: 2%;
  border-top: 1px solid #71d2f9;
}

div.border-copyright-design {
  height: 5vh;
  color: #fff;
  vertical-align: middle;
}

p.txt-copyright {
  float: left;
}

p.txt-design {
  float: right;
}

p.txt-design a {
  color: #fff;
}

#details-cart {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2%;
}

#details-cart td, #details-cart th {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle;
}

#details-cart tr:nth-child(even){background-color: #f2f2f2;}

#details-cart tr:hover {background-color: #ddd;}

#details-cart th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #63c5f7;
    color: white;
}

button.remove-item {
  background-color: #5ec6f5;
  color: #fff;
  border: 0;
  padding: 13%;
  cursor: pointer;
}

h3.border-price {
  float: right;
}

/* responsive only screen */

@media only screen and (max-width: 1023px) {
  div.logo-left {
    position: relative;
  }

  div.text-logo {
    position: absolute;
    width: 100%;
    left: 40%;
    top: 10%;
  }

  div.text-logo a.title {
    font-size: 2.6vh;
  }

  div.text-logo span.subtitle {
    font-size: 2.3vh;
  }
}

@media only screen and (max-width: 767px) {
  div.text-logo {
    left: 45%;
    top: 20%;
  }

  div.text-logo a.title {
    font-size: 2.5vh;
  }

  li.item-information {
    width: calc(100% / 2);
  }
}

@media only screen and (max-width: 599px) {
  li.column {
    width: calc(100% / 2);
  }

  li.column:last-child {
    padding-top: 3%;
  }

  p.txt-copyright, p.txt-design {
    font-size: 0.8em;
  }

  div.text-logo {
    left: 45%;
    top: 20%;
  }

  div.logo-left {
    width: 40%;
  }
}

@media only screen and (max-width: 479px) {
  p.txt-copyright, p.txt-design {
    font-size: 0.7em;
  }

  li.item-information {
    width: 100%;
  }

  div.logo-left {
    width: 45%;
  }

  div.text-logo {
    display: none;
  }
}

@media only screen and (max-width: 399px) {
  p.txt-copyright, p.txt-design {
    width: 100%;
  }
}
